//-- variables -------------//
//-- movies --//
$movies-header-font-size: 16px;
$movies-header-margin-bottom: 15px;
$movies-per-row: 5;
//-- tile ---//
$tile-title-font-size: 9px;
$tile-title-margin-left: 4px;
$tile-width: 106px;
$tile-height: 159px;
$tile-gap: 15px;
//--------------------------//


//-- App related -----------//
.container {
  position: absolute;
  top: 40px;
  width: 100%;
}

//-- movies grid -----------//
.movies {
  margin: 0px auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: calc(($tile-width + $tile-gap) * $movies-per-row - $tile-gap);

  &_loading {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  &_header {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items:baseline;
    justify-content:flex-start;
    margin-bottom: $movies-header-margin-bottom;

    & > div {
      margin-right: 20px;
    }
  }
  
  &_grid {
    display: grid;
    grid-template-columns: $tile-width $tile-width $tile-width $tile-width $tile-width;
    gap: $tile-gap;
  }
}
//--------------------------//


//-- dummy page ------------//
.dummyPage {
  & > div {
    outline: solid rgba(black, .75) 1px;
    width: 100%;
    height: 400px;
    padding-bottom: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &_container1 {
    background-color: rgba(black, .1);
  }

  &_container2 {
    background-color: rgba(black, .2);
  }

  &_container3 {
    background-color: rgba(black, .3);
  }
}

.dummyPage.onFocus {
  outline: solid rgb(38, 30, 123) 4px;
}


//-- TextButton related ----//
.textButton {
  font-size: $movies-header-font-size;
  padding: 2px 4px;
  opacity: 65%;
  color: rgba(black, .85);
}

.textButton.onFocus {
  color: rgb(38, 30, 123);
  opacity: 100%;
  transition: all .25s ease-out;
}
//--------------------------//


//-- Tile related ----------//
.tile {
  position: relative;
  width: $tile-width;
  height: $tile-height;
  border-radius: 6px;
  overflow: hidden;
  background-color: black;
  
  &_desc {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 35px;
    z-index: 2;
    opacity: 1;
    background-color:rgba(rgb(33, 26, 103), .85);
  }

  &_desc.onFocus {
    opacity: 1;
    bottom: -35px;
    opacity: 0;
    transition: all .25s ease-out;
  }

  &_title {
    text-align: center;
    margin-top: 6px;
    margin-left: $tile-title-margin-left;
    width: calc($tile-width - $tile-title-margin-left*2);
    height: 35px;
    font-size: $tile-title-font-size;
    color: rgba(rgb(234, 222, 87), .95);
  }

  &_title.onFocus {
    color: rgba(white, 0);
  }

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 75%;
  }

  &_image.onFocus {
    opacity: 100%;
  }
}

.tile.onFocus {
  background-color: rgba(black, 0);
  transform: scale(1.07);
  transition: all .25s ease-out;
}